name: Terraform Production

on:
  push:
    branches:
      - main
    paths:
      - "modules/**"
      - "envs/production/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN_PROD }}
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init
        working-directory: envs/production

      # Step 1: Apply resources that CloudWatch depends on (ALB, Target Groups, EC2, RDS)
      - name: Terraform Apply Dependencies
        run: terraform apply -auto-approve -target=module.network -target=module.alb -target=module.ec2 -target=module.rds
        working-directory: envs/production
        env:
          TF_VAR_db_password: ${{ secrets.DB_PASSWORD_PROD }}

      # Step 2: Apply the rest (CloudWatch alarms and any remaining resources)
      - name: Terraform Apply All
        run: terraform apply -auto-approve
        working-directory: envs/production
        env:
          TF_VAR_db_password: ${{ secrets.DB_PASSWORD_PROD }}
